@charset "UTF-8";

h1 {
    background-color: #00a000;
    margin: 139px 0 0 460px;
}

@media (max-width: 900px) {
  h1 {
    margin: 139px 0 0 40px;
}
}


h2 {
    margin: 1280px 0 0 150px;
}

h3 {
    margin: 295px 0 0 15px;
    background-color: #00a000;
}

h4 {
    margin: 20px  0 0 40px;
}

h6 {
    letter-spacing: .092em;
    margin: -20px  0 0 110px;
    font-size: 14px;
    color: red;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 300px;
}

@media (max-width: 900px) {
  .caixa3 {
    margin-top: 1050px;
}
}

@media (max-width: 900px) {
  .caixa4 {
    margin-top: 1123px;
}
}

.caixa5 {
    margin-top: 995px;
}

@media (max-width: 900px) {
  .caixa5 {
    margin-top: 1829px;
}
}

.caixa6 {
    margin-top: 1047px;
}

@media (max-width: 900px) {
  .caixa6 {
    margin-top: 1955px;
}
}

.caixa7 {
    margin-top: 1023px;
}

@media (max-width: 900px) {
  .caixa7 {
    margin-top: 2712px;
}
}

#de {
    background-color: #00a000;
}

#roda {
    margin-top: 1815px;
}

@media (max-width: 900px) {
  #roda {
    margin-top: 3453px;
}
}