@charset "UTF-8";

#logo {
    font-size: 60px;
    top: 140px;
    left: 2.8em;
}

#logo2 {
    font-size: 30px;
    top: 168px;
    left: 15.2em;
}

#img img {
    left: 25px;
}

h2 {
    margin: 1280px 0 0 150px;
}

h3 {
    margin: 295px 0 0 15px;
    background-color: #AD8501;
}

h4 {
    margin: 20px  0 0 40px;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    top: 300px;
}

@media (max-width: 1100px) {
  .caixa1, .caixa2, .caixa3 {
    top: 400px;
}
}

@media (max-width: 980px) {
  .caixa1, .caixa2 {
    top: 450px;
}
}

@media (max-width: 980px) {
  .caixa3 {
    top: 1025px;
}
}

@media (max-width: 979px) {
  .caixa1, .caixa2, .caixa3 {
    top: 400px;
}
}

@media (max-width: 801px) {
  .caixa1, .caixa2 {
    top: 450px;
}
}

@media (max-width: 801px) {
  .caixa3 {
    top: 1047px;
}
}

@media (max-width: 1100px) {
  .caixa4 {
    top: 970px;
}
}

@media (max-width: 980px) {
  .caixa4 {
    top: 1073px;
}
}

@media (max-width: 979px) {
  .caixa4 {
    top: 970px;
}
}

@media (max-width: 801px) {
  .caixa4 {
    top: 1120px;
}
}

.caixa5 {
    top: 867px;
}

@media (max-width: 1100px) {
  .caixa5 {
    top: 1050px;
}
}

@media (max-width: 980px) {
  .caixa5 {
    top: 1630px;
}
}

@media (max-width: 979px) {
  .caixa5 {
    top: 1016px;
}
}

@media (max-width: 801px) {
  .caixa5 {
    top: 1670px;
}
}

.caixa6 {
    top: 920px;
}

@media (max-width: 1100px) {
  .caixa6 {
    top: 995px;
}
}

@media (max-width: 980px) {
  .caixa6 {
    top: 1755px;
}
}

@media (max-width: 979px) {
  .caixa6 {
    top: 995px;
}
}

@media (max-width: 801px) {
  .caixa6 {
    top: 1795px;
}
}

.caixa7 {
    top: 897px;
}

@media (max-width: 1100px) {
  .caixa7 {
    top: 1645px;
}
}

@media (max-width: 980px) {
  .caixa7 {
    top: 2340px;
}
}

@media (max-width: 979px) {
  .caixa7 {
    top: 1645px;
}
}

@media (max-width: 801px) {
  .caixa7 {
    top: 2400px;
}
}

#roda {
    margin-top: 1530px;
}

@media (max-width: 1100px) {
  #roda {
    margin-top: 2205px;
}
}

@media (max-width: 980px) {
  #roda {
    margin-top: 5200px;
}
}

@media (max-width: 979px) {
  #roda {
    margin-top: 2190px;
}
}

@media (max-width: 801px) {
  #roda {
    margin-top: 2950px;
}
}