@charset "UTF-8";

h1 {
    background-color: #00a000;
    width: 240px;
    margin: 139px 0 0 460px;
}

h2 {
    margin: 1280px 0 0 150px;
}

h3 {
    margin: 295px 0 0 15px;
    background-color: #00a000;
}

h4 {
    margin: 20px  0 0 40px;
}

h6 {
    letter-spacing: .092em;
    margin: -20px  0 0 110px;
    font-size: 14px;
    color: red;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 75px;
}

.caixa5 {
    margin-top: 767px;
}

.caixa6 {
    margin-top: 822px;
}

#de {
    background-color: #00a000;
}

#roda {
    margin-top: 1650px;
}