@charset "UTF-8";

h1 {
    color: red;
    width: 455px;
    margin: 139px 0 0 332px;
}

h3 {
    background-color: #A61407;
     color: white;
}


h2 {
    position: relative;
    font-family: 'Droid Serif', serif;
    font-size: 42px;
    color: #808080;
}

#listaa {
    margin: -35px 0 0 160px;
}

.sub {
    position: relative;
    margin: 80px 0 0 220px;   
}

.sub2 {
    position: relative;
    margin: 1200px 0 0 220px;   
}

.sub3 {
    position: relative;
    margin: 670px 0 0 220px;   
}

#dee {
    background-color: #A61407;
    margin-top: 312px;
    position: absolute;
    width: 400px;
    height: 7px;
}

#de {
    background-color: #A61407;
}

.caixa1, .caixa5, .caixa7, .caixa11, .caixa13, .caixa17 {
    margin-left: 81px;
}

.caixa2, .caixa6, .caixa8, .caixa12, .caixa14, .caixa18 {
    margin-left: 350px;
}

.caixa3, .caixa9, .caixa15 {
    margin-left: 620px;
}

.caixa4, .caixa10, .caixa16 {
    margin-left: 890px;
}

.caixa1, .caixa2, .caixa3, .caixa4, .caixa7, .caixa8, .caixa9, .caixa10, .caixa13, .caixa14, .caixa15, .caixa16 {
    margin-top: -10px;
}

.caixa5, .caixa6 {
    margin-top: 536px;
}

.caixa11 {
    margin-top: 583px;
}

.caixa12 {
    margin-top: 558px;
}

.caixa17 {
    margin-top: 538px;
}

.caixa18 {
    margin-top: 538px;
}

#roda {
    margin-top: 1150px;
}

