@charset "UTF-8";

#logo {
    font-size: 60px;
    top: 140px;
    left: -1.5em;
}

#img img {
    left: -13em;
}

h2 {
    position: absolute;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: .092em;
    color: white;
    margin: 113px 0 0 30px;
}

h3 {
    margin: 295px 0 0 15px;
}

.box1, .box2, .box13, .box4 {
    position: absolute;
    height: 135px;
}

@media (max-width: 980px) {
  .box1, .box2, .box13, .box4 {
    width: 230px;
}
}

.box1, .box2, .box13, .box4 {
    top: 300px;
}

@media (max-width: 980px) {
  .box1, .box2 {
    margin: 0 50% 0 50%;
    top: 450px;
}
}

@media (max-width: 980px) {
  .box4, .box13 {
    margin: 0 50% 0 50%;
    top: 637px;
}
}

.caixa5, .caixa6, .caixa7, .caixa8 {
    top: 480px;
}

@media (max-width: 980px) {
  .caixa5, .caixa6 {
    top: 825px;
}
}

@media (max-width: 980px) {
  .caixa7 {
    top: 1330px;
}
}

@media (max-width: 980px) {
  .caixa8 {
    top: 1410px;
}
}

.caixa9 {
    top: 950px;
}

@media (max-width: 980px) {
  .caixa9 {
    top: 1865px;
}
}

.caixa10 {
    top: 1055px;
}

@media (max-width: 980px) {
  .caixa10 {
    top: 2000px;
}
}

.caixa11 {
    top: 1001px;
}

@media (max-width: 980px) {
  .caixa11 {
    top: 2397px;
}
}

.caixa12 {
    top: 1055px;
}

@media (max-width: 980px) {
  .caixa12 {
    top: 2615px;
}
}

.caixa13  {
    top: 1473px;
}

@media (max-width: 980px) {
  .caixa13 {
    top: 2960px;
}
}

.caixa14  {
    top: 1657px;
}

@media (max-width: 980px) {
  .caixa14 {
    top: 3205px;
}
}

.caixa15 {
    top: 1525px;
}

@media (max-width: 980px) {
  .caixa15 {
    top: 3470px;
}
}

.caixa16 {
    top: 1630px;
}

@media (max-width: 980px) {
  .caixa16 {
    top: 3823px;
}
}

.caixa17 {
    top: 1965px;
}

@media (max-width: 980px) {
  .caixa17 {
    top: 4032px;
}
}

.caixa18 {
    top: 2233px;
}

@media (max-width: 980px) {
  .caixa18 {
    top: 4437px;
}
}

.caixa19 {
    top: 2073px;
}

@media (max-width: 980px) {
  .caixa19 {
    top: 4540px;
}
}

.caixa20 {
    top: 2233px;
}

@media (max-width: 980px) {
  .caixa20 {
    top: 4996px;
}
}

#roda {
   margin-top: 2800px;
}

@media (max-width: 980px) {
  #roda {
    margin-top: 9980px;
}
}