@charset "UTF-8";

h1 {
    color: #FFA500;
    width: 235px;
    margin: 139px 0 0 400px;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 25px;
}

.caixa5, .caixa6 {
    margin-top: 520px;
}

.caixa7 {
    margin-top: 570px;
}

.caixa8 {
    margin-top: 597px;
}

.caixa9, .caixa10 {
    margin-top: 1095px;
}

.caixa11 {
    margin-top: 1040px;
}

.caixa12 {
    margin-top: 1066px;
}

.caixa13, .caixa14  {
    margin-top: 1645px;
}

.caixa15 {
    margin-top: 1535px;
}

#roda {
   margin-top: 2230px;
}