@charset "UTF-8";

#logo {
    font-size: 60px;
    top: 140px;
    left: 2.8em;
}

#logo2 {
    font-size: 30px;
    top: 168px;
    left: 15.2em;
}

#img img {
    left: 25px;
}

@media (max-width: 1100px) {
  h1 {
    width: 520px;
    left: -150px;
}
}

@media (max-width: 980px) {
  h1 {
    left: -2.4em;
    width: 320px;
}
}

@media (max-width: 979px) {
  h1 {
    width: 177px;
}
}

h2 {
    margin: 1240px 0 0 150px;
}

h3 {
    margin: 295px 0 0 15px;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    top: 300px;
}

@media (max-width: 1100px) {
  .caixa1, .caixa2, .caixa3 {
    top: 400px;
}
}

@media (max-width: 980px) {
  .caixa1, .caixa2 {
    top: 450px;
}
}

@media (max-width: 980px) {
  .caixa3 {
    top: 1055px;
}
}

@media (max-width: 979px) {
  .caixa1, .caixa2, .caixa3 {
    top: 400px;
}
}

@media (max-width: 801px) {
  .caixa1, .caixa2 {
    top: 550px;
}
}

@media (max-width: 801px) {
  .caixa3 {
    top: 1330px;
}
}

@media (max-width: 1100px) {
  .caixa4 {
    top: 995px;
}
}

@media (max-width: 980px) {
  .caixa4 {
    top: 1020px;
}
}

@media (max-width: 979px) {
  .caixa4 {
    top: 995px;
}
}

@media (max-width: 801px) {
  .caixa4 {
    top: 1270px;
}
}

.caixa5 {
    top: 893px;
}

@media (max-width: 1100px) {
  .caixa5 {
    top: 1000px;
}
}

@media (max-width: 980px) {
  .caixa5 {
    top: 1607px;
}
}

@media (max-width: 979px) {
  .caixa5 {
    top: 965px;
}
}

@media (max-width: 801px) {
  .caixa5 {
    top: 2057px;
}
}

.caixa6 {
    top: 838px;
}

@media (max-width: 1100px) {
  .caixa6 {
    top: 943px;
}
}

@media (max-width: 980px) {
  .caixa6 {
    top: 1703px;
}
}

@media (max-width: 801px) {
  .caixa6 {
    top: 2153px;
}
}

@media (max-width: 979px) {
  .caixa6 {
    top: 943px;
}
}

#roda {
    margin-top: 1503px;
}

@media (max-width: 1100px) {
  #roda {
    margin-top: 1525px;
}
}

@media (max-width: 980px) {
  #roda {
    margin-top: 4055px;
}
}

@media (max-width: 979px) {
  #roda {
    margin-top: 1647px;
}
}

@media (max-width: 801px) {
  #roda {
    margin-top: 2895px;
}
}