@charset "UTF-8";

h1 {
    background-color: #00a000;
    margin: 139px 0 0 245px;
}

@media (max-width: 540px) {
  h1 {
    margin: 139px 0 0 40px;
}
}

h2 {
    margin: 1240px 0 0 150px;
}

h3 {
    margin: 295px 0 0 15px;
    background-color: #00a000;
}

h6 {
    letter-spacing: .092em;
    margin: -20px  0 0 110px;
    font-size: 14px;
    color: red;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 300px;
}

@media (max-width: 540px) {
  .caixa3 {
    margin-top: 1077px;
}
}

@media (max-width: 540px) {
  .caixa4 {
    margin-top: 1017px;
}
}

.caixa5 {
    margin-top: 1025px;
}

@media (max-width: 540px) {
  .caixa5 {
    margin-top: 1800px;
}
}

.caixa6 {
    margin-top: 972px;
}

@media (max-width: 540px) {
  .caixa6 {
    margin-top: 1897px;
}
}

#de {
    background: #00a000;
}

#roda {
    margin-top: 1795px;
}

@media (max-width: 540px) {
  #roda {
    margin-top: 2665px;
}
}