@charset "UTF-8";

h1 {
    background-color: #00a000;
    margin: 139px 0 0 500px;
}

h2 {
    margin: 1240px 0 0 150px;
}

h3 {
    margin: 295px 0 0 15px;
    background-color: #00a000;
}

h6 {
    letter-spacing: .092em;
    margin: -20px  0 0 110px;
    font-size: 14px;
    color: red;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 300px;
}

.caixa5 {
    margin-top: 1025px;
}

.caixa6 {
    margin-top: 972px;
}

#de {
    background: #00a000;
}

#roda {
    margin-top: 1795px;
}