@charset "UTF-8";

h1 {
    color: #00a000;
    width: 490px;
    margin: 139px 0 0 245px;
}

h2 {
    position: absolute;
     font-family: 'Droid Serif', serif;
    font-size: 24px;
    letter-spacing: .092em;
    font-size: 42px;
    color: white;
    margin: 1240px 0 0 150px;
}

h3 {
    background-color: #00a000;
    padding: 9px 15px 10px 15px; 
    border-radius: 20px 0 20px 0;
    margin: 295px 0 0 15px;
}

h5 {
    position: absolute;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: .062em;
    color: white;
     margin: 170px  0 0 30px;
}

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6 {
    width: 250px;
    background-color: white;
}

.caixa1, .caixa5, .box1 {
    margin-left: 81px;
}

.caixa2, .caixa6, .box2 {
    margin-left: 350px;
}

.caixa3, .box3 {
    margin-left: 620px;
}

.caixa4, .box4 {
    margin-left: 890px;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 75px;
}

.caixa5 {
    margin-top: 623px;
}

.caixa6 {
    margin-top: 595px;
}

.box1, .box2, .box3, .box4 {
    margin-top: 1315px;
    height: 180px;
    background-color: #00a000;
}

#de {
    background: #00a000;
}

#roda {
    margin-top: 1600px;
}