@charset "UTF-8";

h1 {
    background-color: #ffa500;
    margin: 139px 0 0 596px;
}

h3 {
    background-color: #FFA500;
    margin: 295px 0 0 15px;
}

#de {
    background-color: #FFA500;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 300px;
}

.caixa5, .caixa6, .caixa7, .caixa8 {
    margin-top: 872px;
}

.caixa8 {
    margin-top: 900px;
}

.caixa9 {
    margin-top: 1419px;
}

.caixa10 {
    margin-top: 1392px;
}

.caixa11 {
    margin-top: 1445px;
}

.caixa12 {
    margin-top: 1500px;
}

.caixa13, .caixa14 {
    margin-top: 1968px;
}

#sanduba p  {
    padding-top: 40px;
}

#roda {
    margin-top: 2535px;
}