@charset "UTF-8";

h1 {
    background-color: #ffa500;
    width: 228px;
    margin: 139px 0 0 426px;
}

h3 {
    background-color: #FFA500;
    margin: 295px 0 0 15px;
}

#de {
    background-color: #FFA500;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 75px;
}

.caixa5, .caixa6, .caixa7, .caixa8 {
    margin-top: 647px;
}

.caixa8 {
    margin-top: 675px;
}

.caixa9 {
    margin-top: 1193px;
}

.caixa10 {
    margin-top: 1165px;
}

.caixa11 {
    margin-top: 1218px;
}

.caixa12 {
    margin-top: 1275px;
}

.caixa13 {
    margin-top: 1765px;
}

.caixa14 {
    margin-top: 1737px;
}

#sanduba p  {
    padding-top: 40px;
}

#roda {
    margin-top: 2350px;
}