@charset "UTF-8";

h1 {
    width: 228px;
    margin: 139px 0 0 426px;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 25px;
}

.caixa5, .caixa6, .caixa7, .caixa8 {
    margin-top: 597px;
}

.caixa8 {
    margin-top: 625px;
}

.caixa9 {
    margin-top: 1143px;
}

.caixa10 {
    margin-top: 1115px;
}

.caixa11 {
    margin-top: 1168px;
}

.caixa12 {
    margin-top: 1225px;
}

.caixa13 {
    margin-top: 1715px;
}

.caixa14 {
    margin-top: 1687px;
}

#sanduba p  {
    padding-top: 40px;
}

#roda {
    margin-top: 2300px;
}