@charset "UTF-8";

h1 {
    background-color: #ffa500;
    width: 190px;
    margin: 139px 0 0 420px;
}

h3 {
    background-color: #FFA500;
    margin: 295px 0 0 15px;
}

#de {
    background-color: #FFA500;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 75px;
}

.caixa5, .caixa6 {
    margin-top: 545px;
}

.caixa7, .caixa8 {
    margin-top: 623px;
}

.caixa9 {
   margin-top: 1143px;
}

.caixa10 {
    margin-top: 1090px;
}

#roda {
   margin-top: 1755px;
}