@charset "UTF-8";

h1 {
    background-color: #ffa500;
    margin: 139px 0 0 420px;
}

h3 {
    background-color: #FFA500;
    margin: 295px 0 0 15px;
}

#de {
    background-color: #FFA500;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 300px;
}

.caixa5, .caixa6 {
    margin-top: 770px;
}

.caixa7 {
    margin-top: 847px;
}

.caixa8 {
    margin-top: 823px;
}

.caixa9 {
   margin-top: 1343px;
}

.caixa10 {
    margin-top: 1318px;
}

#roda {
   margin-top: 1940px;
}