@charset "UTF-8";

#logo {
    font-size: 60px;
    top: 140px;
    left: 4em;
}

@media (max-width: 1100px) {
  #logo {
    top: 141px;
    left: -0.9em;
    font-size: 60px;
}
}

#img img {
    left: 100px;
}

@media (max-width: 1100px) {
   #img img, #img1 img {
    left: -207px;
    top: 125px;
}
}

h1 {
    left: -6.5em;
}

@media (max-width: 1100px) {
  h1 {
    left: -125px;
}
}

@media (max-width: 980px) {
  h1 {
    margin: 0 50% 0 50%;
    top: 10px;
    left: -1.8em;
}
}

h3 {
    margin: 295px 0 0 15px;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    top: 300px;
}

@media (max-width: 1100px) {
  .caixa1, .caixa2, .caixa3 {
    top: 400px;
}
}

@media (max-width: 980px) {
  .caixa1, .caixa2 {
    top: 450px;
}
}

@media (max-width: 980px) {
  .caixa3 {
    top: 930px;
}
}

@media (max-width: 979px) {
  .caixa1, .caixa2, .caixa3 {
    top: 550px;
}
}

@media (max-width: 801px) {
  .caixa1, .caixa2 {
    top: 550px;
}
}

@media (max-width: 801px) {
  .caixa3 {
    top: 1047px;
}
}

@media (max-width: 979px) {
  .caixa4 {
    top: 1047px;
}
}

.caixa5, .caixa6 {
    top: 770px;
}

@media (max-width: 1100px) {
  .caixa4, .caixa5 {
    top: 870px;
}
}

@media (max-width: 1100px) {
  .caixa6 {
    top: 950px;
}
}

@media (max-width: 980px) {
  .caixa5, .caixa6 {
    top: 1490px;
}
}

@media (max-width: 979px) {
  .caixa5 {
    top: 1020px;
}
}

@media (max-width: 980px) {
  .caixa4 {
    top: 932px;
}
}

@media (max-width: 801px) {
  .caixa4 {
    top: 1047px;
}
}

@media (max-width: 801px) {
  .caixa5 {
    top: 1622px;
}
}

@media (max-width: 979px) {
  .caixa6 {
    top: 1100px;
}
}

@media (max-width: 801px) {
  .caixa6 {
    top: 1595px;
}
}

.caixa7 {
    top: 847px;
}

@media (max-width: 1100px) {
  .caixa7 {
    top: 1423px;
}
}

@media (max-width: 980px) {
  .caixa7 {
    top: 2100px;
}
}

@media (max-width: 979px) {
  .caixa7 {
    top: 1573px;
}
}

@media (max-width: 801px) {
  .caixa7 {
    top: 2222px;
}
}

.caixa8 {
    top: 823px;
}

@media (max-width: 1100px) {
  .caixa8 {
    top: 1475px;
}
}

@media (max-width: 980px) {
  .caixa8 {
    top: 2047px;
}
}

@media (max-width: 979px) {
  .caixa8 {
    top: 1625px;
}
}

@media (max-width: 801px) {
  .caixa8 {
    top: 2168px;
}
}

.caixa9 {
   top: 1343px;
}

@media (max-width: 1100px) {
  .caixa9 {
    top: 1503px;
}
}

@media (max-width: 980px) {
  .caixa9 {
    top: 2685px;
}
}

@media (max-width: 979px) {
  .caixa9 {
    top: 1653px;
}
}

@media (max-width: 801px) {
  .caixa9 {
    top: 2850px;
}
}

.caixa10 {
    top: 1318px;
}

@media (max-width: 1100px) {
  .caixa10 {
    top: 2000px;
}
}

@media (max-width: 980px) {
  .caixa10 {
    top: 2607px;
}
}

@media (max-width: 979px) {
  .caixa10 {
    top: 2150px;
}
}

@media (max-width: 801px) {
  .caixa10 {
    top: 2745px;
}
}

#roda {
   margin-top: 1940px;
}

@media (max-width: 1100px) {
  #roda {
   margin-top: 2595px;
}
}

@media (max-width: 980px) {
  #roda {
   margin-top: 5840px;
}
}

@media (max-width: 979px) {
  #roda {
   margin-top: 2745px;
}
}

@media (max-width: 801px) {
  #roda {
   margin-top: 3440px;
}
}