@charset "UTF-8";

h1 {
    color: #00a000;
    width: 250px;
    margin: 139px 0 0 445px;
}

h2 {
    margin: 113px 0 0 25px;
}

h3 {
    margin: 295px 0 0 15px;
    background-color: #00a000;
}

.box1, .box2, .box3, .box4 {
    height: 135px;
}

.box1 {
    margin-left: 81px;
}

.box2 {
    margin-left: 350px;
}

.box3 {
    margin-left: 620px;
}

.box4 {
    margin-left: 890px;
}

.box1, .box2, .box3, .box4 {
    margin-top: 75px;
}

.caixa5, .caixa6, .caixa7, .caixa8 {
    margin-top: 252px;
}

.caixa9, .caixa10, .caixa11 {
    margin-top: 947px;
}

.caixa12 {
    margin-top: 975px;
}

.caixa13 {
    margin-top:  1695px;
}

.caixa14 {
    margin-top:  1670px;
}

.caixa15, .caixa16 {
    margin-top: 1645px;
}

.caixa17, .caixa18 {
    margin-top: 2417px;
}

.caixa19 {
    margin-top: 2367px;
}

.caixa20 {
    margin-top: 2340px;
}

#de {
    background: #00a000;
}

#roda {
    margin-top: 3275px;
}

<li><a id='Menu' href ='../arcebangu/bangu.html'>Bangu</a></li>