@charset "UTF-8";

#logo {
    font-size: 60px;
    top: 140px;
    left: -1.8em;
}

#logo2 {
    font-size: 30px;
    top: 168px;
    left: 6em;
}

@media (max-width: 1100px) {
  #logo {
    top: 141px;
    left: -0.9em;
    font-size: 60px;
}
}

#img img {
    left: -260px;
}

@media (max-width: 1100px) {
   #img img, #img1 img {
    left: -207px;
    top: 125px;
}
}

h2 {
    position: absolute;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: .092em;
    color: white;
    margin: 113px 0 0 25px;
    z-index: 2;
}

h3 {
    margin: 295px 0 0 15px;
}

.box1, .box2, .box13, .box4 {
    position: absolute;
    height: 135px;
}

@media (max-width: 980px) {
  .box1, .box2, .box13, .box4 {
    width: 240px;
}
}

.box1, .box2, .box13, .box4 {
    top: 295px;
}

@media (max-width: 1100px) {
  .box1, .box2, .box4, .box13 {
    margin: 0 50% 0 50%;
}
}

@media (max-width: 1100px) {
  .box1, .box2 {
    top: 300px;
}
}

@media (max-width: 980px) {
  .box1, .box2 {
    top: 360px;
}
}

@media (max-width: 979px) {
  .box1, .box2 {
    top: 360px;
}
}

@media (max-width: 1100px) {
  .box4, .box13 {
    top: 480px;
}
}

@media (max-width: 980px) {
  .box4, .box13 {
    top: 541px;
}
}

@media (max-width: 979px) {
  .box4, .box13 {
    top: 541px;
}
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    top: 475px;
}

@media (max-width: 1100px) {
  .caixa1, .caixa2, .caixa3 {
    top: 720px;
}
}

@media (max-width: 980px) {
  .caixa1, .caixa2 {
    top: 775px;
}
}

@media (max-width: 801px) {
  .caixa1, .caixa2 {
    top: 810px;
}
}

@media (max-width: 979px) {
  .caixa1, .caixa2 {
    top: 775px;
}
}

@media (max-width: 1100px) {
  .caixa4 {
    top: 1290px;
}
}

@media (max-width: 801px) {
  .caixa3, .caixa4 {
    top: 1560px;
}
}

@media (max-width: 980px) {
  .caixa3, .caixa4 {
    top: 1350px;
}
}

@media (max-width: 979px) {
   .caixa3, .caixa4 {
    top: 1350px;
}
}

.caixa5, .caixa6, .caixa7 {
    top: 1042px;
}

@media (max-width: 1100px) {
  .caixa5 {
    top: 1290px;
}
}

@media (max-width: 801px) {
  .caixa5 {
    top: 2312px;
}
}

@media (max-width: 980px) {
  .caixa5 {
    top: 1954px;
}
}

@media (max-width: 979px) {
   .caixa5  {
    top: 1954px;
}
}

@media (max-width: 1100px) {
  .caixa6 {
    top: 1318px;
}
}

@media (max-width: 801px) {
  .caixa6 {
    top: 2312px;
}
}

@media (max-width: 980px) {
  .caixa6 {
    top: 1954px;
}
}

@media (max-width: 979px) {
   .caixa6 {
    top: 1954px;
}
}

@media (max-width: 1100px) {
  .caixa7 {
    top: 1885px;
}
}

@media (max-width: 801px) {
  .caixa7 {
    top: 3145px;
}
}

@media (max-width: 980px) {
  .caixa7 {
    top: 2582px;
}
}

@media (max-width: 979px) {
   .caixa7 {
    top: 2582px;
}
}

.caixa8 {
    top: 1070px;
}

@media (max-width: 1100px) {
  .caixa8 {
    top: 1913px;
}
}

@media (max-width: 801px) {
  .caixa8 {
    top: 3090px;
}
}

@media (max-width: 980px) {
  .caixa8 {
    top: 2557px;
}
}

@media (max-width: 979px) {
   .caixa8 {
    top: 2557px;
}
}

.caixa9 {
    top:  1664px;
}

@media (max-width: 1100px) {
  .caixa9 {
    top: 1913px;
}
}

@media (max-width: 801px) {
  .caixa9 {
    top: 3895px;
}
}

@media (max-width: 980px) {
  .caixa9 {
    top: 3157px;
}
}

@media (max-width: 979px) {
   .caixa9 {
    top: 3157px;
}
}

.caixa10, .caixa11, .caixa12 {
    top:  1612px;
}

@media (max-width: 1100px) {
  .caixa10 {
    top: 2455px;
}
}

@media (max-width: 801px) {
  .caixa10 {
    top: 3815px;
}
}

@media (max-width: 980px) {
  .caixa10 {
    top: 3107px;
}
}

@media (max-width: 979px) {
   .caixa10 {
    top: 3107px;
}
}

@media (max-width: 1100px) {
  .caixa11 {
    top: 2455px;
}
}

@media (max-width: 1100px) {
  .caixa12 {
    top: 2510px;
}
}

@media (max-width: 801px) {
  .caixa11 {
    top: 4672px;
}
}

@media (max-width: 801px) {
  .caixa12 {
    top: 4592px;
}
}

@media (max-width: 980px) {
  .caixa11 {
    top: 3758px;
}
}

@media (max-width: 980px) {
  .caixa12 {
    top: 3737px;
}
}

@media (max-width: 979px) {
   .caixa11 {
    top: 3758px;
}
}

@media (max-width: 979px) {
   .caixa12 {
    top: 3737px;
}
}

.caixa13 {
    top: 2258px;
}

@media (max-width: 1100px) {
  .caixa13 {
    top: 3077px;
}
}

@media (max-width: 801px) {
  .caixa13 {
    top: 5425px;
}
}

@media (max-width: 980px) {
  .caixa13 {
    top: 4360px;
}
}

@media (max-width: 979px) {
   .caixa13 {
    top: 4360px;
}
}

.caixa14, .caixa15 {
    top: 2205px;
}

@media (max-width: 1100px) {
  .caixa14 {
    top: 3047px;
}
}

@media (max-width: 801px) {
  .caixa14 {
    top: 5320px;
}
}

@media (max-width: 980px) {
  .caixa14 {
    top: 4313px;
}
}

@media (max-width: 979px) {
   .caixa14 {
    top: 4313px;
}
}

@media (max-width: 1100px) {
  .caixa15 {
    top: 3077px;
}
}

@media (max-width: 801px) {
  .caixa15 {
    top: 6256px;
}
}

@media (max-width: 980px) {
  .caixa15 {
    top: 5040px;
}
}

@media (max-width: 979px) {
   .caixa15 {
    top: 5040px;
}
}

.caixa16 {
    top: 2179px;
}

@media (max-width: 1100px) {
  .caixa16 {
    top: 3752px;
}
}

@media (max-width: 801px) {
  .caixa16 {
    top: 6072px;
}
}

@media (max-width: 980px) {
  .caixa16 {
    top: 4915px;
}
}

@media (max-width: 979px) {
   .caixa16 {
    top: 4915px;
}
}

#roda {
    margin-top: 2895px;
}

@media (max-width: 1100px) {
  #roda {
    margin-top: 4420px;
}
}

@media (max-width: 801px) {
  #roda {
    margin-top: 7025px;
}
}

@media (max-width: 980px) {
  #roda {
    margin-top: 10155px;
}
}

@media (max-width: 979px) {
  #roda {
    margin-top: 5500px;
}
}