@charset "UTF-8";

h1 {
    color: #FFA500;
    width: 280px;
    margin: 139px 0 0 380px;
}

.caixa1, .caixa5, .caixa9, .caixa13, .caixa17, .caixa21, .caixa25, .caixa29, .caixa34, .caixa38, .caixa42 {
    margin-left: 81px;
}

.caixa2, .caixa6, .caixa10, .caixa14, .caixa18, .caixa22, .caixa26, .caixa30, .caixa35, .caixa39 {
    margin-left: 350px;
}

.caixa3, .caixa7, .caixa11, .caixa15, .caixa19, .caixa23, .caixa27, .caixa31, .caixa36, .caixa40 {
    margin-left: 620px;
}

.caixa4, .caixa8, .caixa12, .caixa16, .caixa20, .caixa24, .caixa28, .caixa33, .caixa37, .caixa41 {
    margin-left: 890px;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 25px;
}

.caixa5 {
    margin-top: 520px;
}

.caixa6, .caixa7, .caixa8 {
    margin-top: 570px;
}

.caixa9 {
    margin-top: 1067px;
}

.caixa10, .caixa11 {
    margin-top: 1117px;
}

.caixa12 {
    margin-top: 1142px;
}

.caixa13 {
    margin-top: 1615px;
}

.caixa14 {
    margin-top: 1690px;
}

.caixa15 {
    margin-top: 1664px;
}

.caixa16 {
    margin-top: 1715px;
}

.caixa17 {
    margin-top: 2190px;
}

.caixa18 {
    margin-top: 2289px;
}

.caixa19 {
    margin-top: 2185px;
}

.caixa20 {
    margin-top: 2235px;
}

.caixa21 {
    margin-top: 2760px;
}

.caixa22 {
    margin-top: 2863px;
}

.caixa23, .caixa24 {
    margin-top: 2780px;
}

.caixa25 {
    margin-top: 3333px;
}

.caixa26 {
    margin-top: 3437px;
}

.caixa27 {
    margin-top: 3325px;
}

#roda {
   margin-top: 4023px;
}