@charset "UTF-8";

h1 {
    background-color: #ffa500;
    width: 280px;
    margin: 139px 0 0 380px;
}

h3 {
    background-color: #FFA500;
    margin: 295px 0 0 15px;
}

#de {
    background-color: #FFA500;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 75px;
}

.caixa5 {
    margin-top: 570px;
}

.caixa6, .caixa7, .caixa8 {
    margin-top: 620px;
}

.caixa9 {
    margin-top: 1117px;
}

.caixa10, .caixa11 {
    margin-top: 1167px;
}

.caixa12 {
    margin-top: 1192px;
}

.caixa13 {
    margin-top: 1665px;
}

.caixa14 {
    margin-top: 1740px;
}

.caixa15 {
    margin-top: 1714px;
}

.caixa16 {
    margin-top: 1765px;
}

.caixa17 {
    margin-top: 2240px;
}

.caixa18 {
    margin-top: 2339px;
}

.caixa19 {
    margin-top: 2235px;
}

.caixa20 {
    margin-top: 2285px;
}

.caixa21 {
    margin-top: 2810px;
}

.caixa22 {
    margin-top: 2913px;
}

.caixa23, .caixa24 {
    margin-top: 2830px;
}

.caixa25 {
    margin-top: 3383px;
}

.caixa26 {
    margin-top: 3487px;
}

.caixa27 {
    margin-top: 3375px;
}

#roda {
   margin-top: 4073px;
}