@charset "UTF-8";

h1 {
    background-color: #ffa500;
    margin: 139px 0 0 380px;
}

h3 {
    background-color: #FFA500;
    margin: 295px 0 0 15px;
}

#de {
    background-color: #FFA500;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 300px;
}

.caixa5 {
    margin-top: 795px;
}

.caixa6 {
    margin-top: 822px;
}

.caixa7, .caixa8 {
    margin-top: 848px;
}

.caixa9 {
    margin-top: 1320px;
}

.caixa10 {
    margin-top: 1373px;
}

.caixa11, .caixa12 {
    margin-top: 1398px;
}

.caixa13 {
    margin-top: 1871px;
}

.caixa14 {
    margin-top: 1923px;
}

.caixa15,.caixa16 {
    margin-top: 1947px;
}

.caixa17 {
    margin-top: 2447px;
}

.caixa18 {
    margin-top: 2498px;
}

.caixa19, .caixa20 {
    margin-top: 2470px;
}

.caixa21 {
    margin-top: 3023px;
}

.caixa22, .caixa23 {
    margin-top: 3073px;
}

.caixa24 {
    margin-top: 3020px;
}

.caixa25 {
    margin-top: 3571px;
}

.caixa26 {
    margin-top: 3622px;
}

.caixa27 {
    margin-top: 3595px;
}

#roda {
   margin-top: 4205px;
}