@charset "UTF-8";

h1 {
    background-color: #A61407;
    margin: 139px 0 0 372px;
}

h3 {
    background-color: #A61407;
    color: white;
    padding: 9px 15px 10px 15px; 
    border-radius: 20px 0 20px 0;
    margin: 295px 0 0 15px;
}

h2 {
    position: relative;
    font-family: 'Droid Serif', serif;
    font-size: 42px;
    color: white;
    letter-spacing: .082em;
    margin-top: 95px;
}

h6 {
    letter-spacing: .092em;
    margin: -20px  0 0 110px;
    font-size: 14px;
    color: red;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
}

.texto p {
    letter-spacing: .092em;
    margin: -20px  0 0 110px;
    font-size: 14px;
    color: red;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
}

.sub {
    position: absolute;
    margin: 195px 0 0 220px;   
}

.sub2 {
    position: absolute;
    margin: 1050px 0 0 220px;   
}

.sub3 {
    position: absolute;
    margin: 1950px 0 0 220px;   
}

#dee {
    background-color: #A61407;
    margin-top: 312px;
    position: absolute;
    width: 400px;
    height: 7px;
}

#de {
    background-color: #A61407;
}

.caixa01, .caixa02, .caixa03, .caixa04 {
    margin-top: 380px;
}

.caixa07, .caixa08, .caixa09, .caixa010 {
    margin-top: 1235px;
}

.caixa013, .caixa014, .caixa015, .caixa016 {
    margin-top: 2130px;
}

#roda {
    margin-top: 2927px;
}

