@charset "UTF-8";

#img1 img {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 95px;
    left: -170px;
}

@media (max-width: 1100px) {
   #img img, #img1 img {
    left: -167px;
    top: 100px;
}
}

#logo {
    font-size: 80px;
    top: 310px;
    left: -3em;
}

#logo2 {
    font-size: 50px;
    top: 340px;
    left: 2.7em;
}

@media (max-width: 1100px) {
  #logo {
    top: 320px;
    left: -2.3em;
    font-size: 80px;
}
}

h3 {
    color: white;
    padding: 9px 15px 10px 15px; 
    border-radius: 20px 0 20px 0;
    margin: 295px 0 0 15px;
}

h2 {
    position: relative;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: .192em;
    color: white;
    margin-top: 95px;
}

@media (max-width: 1100px) {
  h2 {
    font-size: 60px;
}
}

@media (max-width: 980px) {
  h2 {
    color: white;
    font-size: 35px;
}
}

.sub2 {
    position: absolute;
    margin: 1020px 0 0 320px;   
}

@media (max-width: 1100px) {
 .sub2, .sub3 {
    margin: 0 50% 0 50%;
}
}

@media (max-width: 1100px) {
 .sub2 {
    top: 1100px;
    left: -200px;
}
}

@media (max-width: 980px) {
 .sub2 {
    top: 1560px;
    left: -200px;
}
}

@media (max-width: 979px) {
 .sub2 {
    top: 1900px;
    left: -200px;
}
}

@media (max-width: 801px) {
 .sub2 {
    top: 1970px;
    left: -200px;
}
}

.sub3 {
    position: absolute;
    margin: 1880px 0 0 320px;   
}

@media (max-width: 1100px) {
 .sub3 {
    top: 110px;
    left: 80px;
}
}

@media (max-width: 980px) {
 .sub3 {
    top: 1030px;
    left: -200px;
}
}

@media (max-width: 979px) {
 .sub3 {
    top: 1520px;
    left: 100px;
}
}

@media (max-width: 801px) {
 .sub3 {
    top: 1650px;
    left: -50px;
}
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    top: 470px;
}

@media (max-width: 1100px) {
  .caixa1, .caixa2, .caixa3 {
    top: 470px;
}
}

@media (max-width: 980px) {
  .caixa1, .caixa2 {
    top: 370px;
}
}


@media (max-width: 980px) {
  .caixa3 {
    top: 949px;
}
}

@media (max-width: 979px) {
  .caixa1, .caixa2, .caixa3 {
    top: 470px;
}
}

@media (max-width: 1100px) {
  .caixa4 {
    opacity: 0%;
}
}

@media (max-width: 980px) {
   .caixa4 {
    top: 975px;
    opacity: 100%;
}
}

@media (max-width: 979px) {
  .caixa4 {
    top: 1170px;
}
}

@media (max-width: 801px) {
  .caixa3, .caixa4 {
    top: 1222px;
}
}

.caixa5, .caixa6, .caixa7, .caixa8 {
    top: 1255px;
}

@media (max-width: 1100px) {
  .caixa5, .caixa6, .caixa7 {
    top: 1300px;
}
}

@media (max-width: 1100px) {
  .caixa8 {
    opacity: 0%;
}
}

@media (max-width: 980px) {
  .caixa5, .caixa6 {
    top: 1740px;
}
}

@media (max-width: 980px) {
  .caixa7 {
    top: 2360px;
}
}

@media (max-width: 980px) {
  .caixa8 {
    top: 2340px;
    opacity: 100%;
}
}

@media (max-width: 979px) {
  .caixa5, .caixa6, .caixa7 {
    top: 2100px;
}
}

@media (max-width: 979px) {
  .caixa8 {
    top: 2850px;
}
}

@media (max-width: 801px) {
  .caixa5, .caixa6 {
    top: 2170px;
}
}

@media (max-width: 801px) {
  .caixa7 {
    top: 2995px;
}
}

@media (max-width: 801px) {
  .caixa8 {
    top: 2920px;
}
}

.caixa9, .caixa10, .caixa11, .caixa12 {
    top: 2100px;
}

@media (max-width: 1100px) {
  .caixa9, .caixa10, .caixa11 {
    top: 2190px;
}
}

@media (max-width: 1100px) {
  .caixa12 {
    opacity: 0%;
}
}

@media (max-width: 980px) {
  .caixa9, .caixa10 {
    top: 3090px;
}
}

@media (max-width: 980px) {
  .caixa11 {
    top: 3770px;
}
}

@media (max-width: 980px) {
  .caixa12 {
    top: 3710px;
    opacity: 100%;
}
}

@media (max-width: 979px) {
  .caixa9, .caixa10, .caixa11 {
    top: 3770px;
}
}

@media (max-width: 979px) {
  .caixa12 {
    top: 4575px;
}
}

@media (max-width: 801px) {
  .caixa9, .caixa10 {
    top: 3900px;
}
}

@media (max-width: 801px) {
  .caixa11 {
    top: 4730px;
}
}

@media (max-width: 801px) {
  .caixa12 {
    top: 4695px;
}
}

#roda {
    margin-top: 2762px;
}

@media (max-width: 1100px) {
  #roda {
    margin-top: 2855px;
}
}

@media (max-width: 980px) {
  #roda {
    margin-top: 7870px;
}
}

@media (max-width: 979px) {
  #roda {
    margin-top: 5370px;
}
}

@media (max-width: 801px) {
  #roda {
    margin-top: 5570px;
}
}

