@charset "UTF-8";

h1 {
    background-color: #A61407;
    margin: 139px 0 0 372px;
}

@media (max-width: 1100px) {
  h1 {
    margin: 0 50% 0 50%;
    top: 9px;
    left: -230px;
}
}

h3 {
    background-color: #A61407;
    color: white;
    padding: 9px 15px 10px 15px; 
    border-radius: 20px 0 20px 0;
    margin: 295px 0 0 15px;
}

h2 {
    position: relative;
    font-family: 'Droid Serif', serif;
    font-size: 42px;
    color: white;
    letter-spacing: .082em;
    margin-top: 95px;
}

@media (max-width: 1100px) {
 h2 {
    font-size: 35px;
}
}

h6 {
    letter-spacing: .092em;
    margin: -20px  0 0 110px;
    font-size: 14px;
    color: red;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
}

.texto p {
    letter-spacing: .092em;
    margin: -20px  0 0 110px;
    font-size: 14px;
    color: red;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
}

.sub {
    position: absolute;
    margin: 195px 0 0 220px;   
}

@media (max-width: 1100px) {
 .sub {
    margin: 0 50% 0 50%;
    top: 225px;
    left: -200px;
    width: 350px;
}
}

.sub2 {
    position: absolute;
    margin: 1050px 0 0 220px;   
}

@media (max-width: 1100px) {
 .sub2 {
    margin: 0 50% 0 50%;
    top: 1850px;
    left: -200px;
    width: 350px;
}
}

.sub3 {
    position: absolute;
    margin: 1950px 0 0 220px;   
}

@media (max-width: 1100px) {
 .sub3 {
    margin: 0 50% 0 50%;
    top: 3550px;
    left: -200px;
    width: 350px;
}
}

#dee {
    background-color: #A61407;
    margin-top: 312px;
    position: absolute;
    width: 400px;
    height: 7px;
}

#de {
    background-color: #A61407;
}

.caixa01, .caixa02, .caixa03, .caixa04 {
    top: 400px;
}

@media (max-width: 1100px) {
  .caixa03, .caixa04 {
    top: 1147px;
}
}

.caixa07, .caixa08, .caixa09, .caixa010 {
    top: 1255px;
}

@media (max-width: 1100px) {
  .caixa07, .caixa08 {
    top: 2020px;
}
}

@media (max-width: 1100px) {
  .caixa09 {
    top: 2840px;
}
}

@media (max-width: 1100px) {
  .caixa010 {
    top: 2815px;
}
}

.caixa013, .caixa014, .caixa015, .caixa016 {
    top: 2150px;
}

@media (max-width: 1100px) {
  .caixa013, .caixa014 {
    top: 3720px;
}
}

@media (max-width: 1100px) {
  .caixa015 {
    top: 4550px;
}
}

@media (max-width: 1100px) {
  .caixa016 {
    top: 4495px;
}
}

#roda {
    margin-top: 2927px;
}

@media (max-width: 1100px) {
  #roda {
    margin-top: 5315px;
}
}

