@charset "UTF-8";

h1 {
    color: #00a000;
    width: 400px;
    margin: 139px 0 0 325px;
}

h2 {
    margin: 2540px 0 0 150px;
}

h3 {
    margin: 295px 0 0 15px;
    background-color: #00a000;
}

h5 {
     margin: 170px  0 0 30px;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 75px;
}

.caixa5, .caixa6 {
    margin-top: 770px;
}

.caixa7, .caixa8 {
    margin-top: 797px;
}

.caixa9 {
    margin-top: 1492px;
}

.caixa10 {
    margin-top: 1545px;
}

.caixa11 {
    margin-top: 1677px;
}

.caixa12 {
    margin-top: 1544px;
}

.caixa13 {
    margin-top:  2241px;
}

.caixa14 {
    margin-top:  2296px;
}

.caixa15 {
    margin-top:  2374px;
}

.caixa16 {
    margin-top: 2266px;
}

#de {
    background: #00a000;
}

#roda {
    margin-top: 3230px;
}