@charset "UTF-8";

h1 {
    background-color: #00a000;
    margin: 139px 0 0 325px;
}

@media (max-width: 1100px) {
  h1 {
    margin: 0 50% 0 50%;
    top: 25px;
    left: -5.5em;
}
}

h2 {
    margin: 2540px 0 0 150px;
}

h3 {
    margin: 295px 0 0 15px;
    background-color: #00a000;
}

h6 {
    letter-spacing: .092em;
    margin: -20px  0 0 110px;
    font-size: 14px;
    color: red;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    top: 300px;
}

@media (max-width: 1100px) {
  .caixa1 {
    top: 300px;
}
}

@media (max-width: 1100px) {
  .caixa2 {
    top: 300px;
}
}

@media (max-width: 1100px) {
  .caixa3 {
    top: 1050px;
}
}

@media (max-width: 1100px) {
  .caixa4 {
    top: 1042px;
}
}

.caixa5, .caixa6 {
    top: 995px;
}

@media (max-width: 1100px) {
  .caixa5 {
    top: 1800px;
}
}

@media (max-width: 1100px) {
  .caixa6 {
    top: 1820px;
}
}

.caixa7 {
    top: 1023px;
}

@media (max-width: 1100px) {
  .caixa7 {
    top: 2552px;
}
}

#de {
    background: #00a000;
}

#roda {
    margin-top: 280px;
}

@media (max-width: 1100px) {
  #roda {
    margin-top: 3272px;
}
}

