@charset "UTF-8";

h1 {
    color: #FFA500;
    width: 280px;
    margin: 139px 0 0 380px;
}

h3 {
    background-color: #FFA500;
}

.caixa1, .caixa2, .caixa3  {
    margin-top: 75px;
}

.caixa4, .caixa5, .caixa6  {
    margin-top: 320px;
}

.caixa7, .caixa8, .caixa9 {
    margin-top: 565px;
}

.caixa10, .caixa11, .caixa12 {
    margin-top: 810px;
}

.caixa13, .caixa14, .caixa15  {
    margin-top: 1055px;
}

.caixa16, .caixa17, .caixa18 {
    margin-top: 1300px;
}

.caixa19, .caixa20, .caixa21 {
    margin-top: 1545px;
}

.caixa22, .caixa23, .caixa24 {
    margin-top: 1790px;
}

.caixa25, .caixa26, .caixa27 {
    margin-top: 2035px;
}

.caixa28, .caixa29, .caixa30 {
    margin-top: 2280px;
}

.caixa31, .caixa32, .caixa33 {
    margin-top: 2525px;
}

.caixa34, .caixa35, .caixa36 {
    margin-top: 2770px;
}

#roda {
   margin-top: 2282px;
}