@charset "UTF-8";

#listaa {
    border-radius: 7px 0px 0px 0px;
    background-color: white;
}

#listaa2 {
    border-radius: 0px 0px 7px 0px;
    background-color: gray;
}

.box1, .box2, .box3, .box4 {
    width: 250px;
    height: 60px;
}

.box2 {
     margin-left: 346px;
}

.box3 {
     margin-left: 610px;
}

.box4 {
     margin-left: 874px;
}

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11, .caixa12, .caixa13, .caixa14, .caixa15, .caixa16, .caixa17, .caixa18, .caixa19, .caixa20, .caixa21, .caixa22, .caixa23, .caixa24, .caixa25, .caixa26, .caixa27, .caixa28, .caixa29, .caixa30, .caixa31, .caixa32, .caixa33, .caixa34, .caixa35, .caixa36 {
    width: 334px;
    height: 200px;
    background-color: white;
}

.box1, .caixa1, .caixa5, .caixa7, .caixa11, .caixa13, .caixa17, .caixa19, .caixa23, .caixa25, .caixa29, .caixa31, .caixa35 {
    margin-left: 81px;
}

.caixa2, .caixa4, .caixa6, .caixa8, .caixa10, .caixa14, .caixa16, .caixa20, .caixa22, .caixa26, .caixa28, .caixa32, .caixa34 {
    margin-left: 435px;
}

.caixa3, .caixa6, .caixa9, .caixa12, .caixa15, .caixa18, .caixa21, .caixa24, .caixa27, .caixa30, .caixa33, .caixa36 {
    margin-left: 790px;
}

#buteco p  {
    position: relative;
    margin: 10px 5px 0 25px;
}

h3 {
    position: absolute;
    font-family: 'Helvetica', serif;
    font-weight: 500;
    font-size: 20px;
    width: 100%; 
    margin: 0;
    padding: 9px 15px 10px 55px;
}

#preço1 {
    margin: -35px 0 0 20px;
}

#preço {
    margin: 67px 0 0 150px;
}

#preço2 {
    margin: 65px 0 0 150px;
}

#preço3 {
    margin: -28px 0 0 20px;
}

#preço4 {
    margin: 0px 0 0 150px;
}

#preço5 {
    margin: -37px 0 0 20px;
}


