@charset "UTF-8";

h1 {
    color: #00a000;
    width: 300px;
    margin: 139px 0 0 415px;
}

h3 {
    background-color: #00a000;
}

#listaa {
    margin: -125px 0 0 160px;
}

.caixa1, .caixa2, .caixa3 {
    margin-top: 75px;
}

.caixa4, .caixa5, .caixa6  {
    margin-top: 320px;
}

.caixa7, .caixa8, .caixa9 {
    margin-top: 565px;
}

.caixa10, .caixa11, .caixa12 {
    margin-top: 810px;
}

.caixa13, .caixa14, .caixa15  {
    margin-top: 1055px;
}

.caixa17 {
    margin-top: 1300px;
}

#roda {
    margin-top: 1585px;
}