#listaa {
    margin: 45px 0 0 160px;
}

#listaa2 {
    margin: -35px 0 0 197px;
}

.caixa1, .caixa2, .caixa3 {
    margin-top: 5px;
}

.caixa4, .caixa5, .caixa6  {
    margin-top: 250px;
}

.caixa7, .caixa8, .caixa9 {
    margin-top: 495px;
}

.caixa10, .caixa11, .caixa12 {
    margin-top: 740px;
}

.caixa13, .caixa14, .caixa15  {
    margin-top: 985px;
}

.caixa16, .caixa17, .caixa18 {
    margin-top: 1230px;
}

.caixa19, .caixa20, .caixa21 {
    margin-top: 1475px;
}

.caixa22, .caixa23, .caixa24 {
    margin-top: 1720px;
}

.caixa25, .caixa26, .caixa27 {
    margin-top: 1965px;
}

.caixa28, .caixa29, .caixa30 {
    margin-top: 2210px;
}

.caixa31, .caixa32, .caixa33 {
    margin-top: 2455px;
}

.caixa34, .caixa35, .caixa36 {
    margin-top: 2700px;
}