@charset "UTF-8";

#submenu {
    position: relative;
    background-color: #FFA500;
    width: 500px;
    height: 60px;
    box-shadow: 0 0 2px 0 black;
    border-radius: 17px 0px 17px 0px;
    margin: 80px auto;
}

#submenu a, #submenu li {
    position: relative;
    left: -9px;
    top: 10px;
    color: white; 
    display: block;
    font-size: 18px;
    font-family: helvetica;
    padding: 0 4px 0 4px;
}

#submenu a:hover {
    color: white;
    text-decoration: underline; 
}

#listaa, #listaa2 {
    position: relative;
    width: 37px;
    height: 35px;
    box-shadow: 0 0 2px 0 black;
    padding: -10px;
}

#listaa {
    border-radius: 7px 0px 0px 0px;
    background-color: white;
}

#listaa2 {
    border-radius: 0px 0px 7px 0px;
    background-color: gray;
}

#linha1, #linha2, #linha3  {
    position: absolute;
    background-color: white;
    width: 16px;
    height: 2px;
}

#linha4, #linha5, #linha6 {
    position: absolute;
    background-color: #FFA500;
    width: 19px;
    height: 2px;
}

#linha7, #linha8, #linha9 {
    position: absolute;
    background-color: #FFA500;
    width: 2px;
    height: 15px;
}

#linha1 {
    margin: 11px 0 0 11px;
}

#linha2 {
    margin: 18px 0 0 11px;
}

#linha3 {
    margin: 25px 0 0 11px;
}

#linha4 {
    margin: 10px 0 0 9px;
}

#linha5 {
    margin: 17px 0 0 9px;
}

#linha6 {
    margin: 24px 0 0 9px;
}

#linha7 {
    margin: 11px 0 0 9px;
}

#linha8 {
    margin: 11px 0 0 18px;
}

#linha9 {
    margin: 11px 0 0 26px;
}

.caixa1, .caixa5, .caixa7, .caixa11, .caixa13, .caixa17, .caixa19, .caixa23, .caixa25, .caixa29, .caixa31, .caixa35 {
    margin-left: 81px;
    width: 334px;
    height: 200px;
}

.caixa2, .caixa4, .caixa6, .caixa8, .caixa10, .caixa14, .caixa16, .caixa20, .caixa22, .caixa26, .caixa28, .caixa32, .caixa34 {
    margin-left: 435px;
    width: 334px;
    height: 200px;
}

.caixa3, .caixa6, .caixa9, .caixa12, .caixa15, .caixa18, .caixa21, .caixa24, .caixa27, .caixa30, .caixa33, .caixa36 {
    margin-left: 790px;
    width: 334px;
    height: 200px;
}

#buteco p  {
    position: relative;
    margin: 10px 5px 0 25px;
}

h3 {
    position: absolute;
    font-family: 'Helvetica', serif;
    font-weight: 500;
    font-size: 20px;
    width: 100%; 
    margin: 0;
    padding: 9px 15px 10px 55px;
}

#preço1 {
    margin: -35px 0 0 20px;
}

#preço {
    margin: 67px 0 0 150px;
}

#preço2 {
    margin: 65px 0 0 150px;
}

#preço3 {
    margin: -28px 0 0 20px;
}

#preço4 {
    margin: 0px 0 0 150px;
}

#preço5 {
    margin: -37px 0 0 20px;
}


