#listaa {
    margin: -125px 0 0 160px;
}

#listaa2 {
    margin: -35px 0 0 197px;
}

.caixa1, .caixa2, .caixa3 {
    margin-top: 35px;
}

.caixa4, .caixa5, .caixa6 {
    margin-top: 280px;
}

.caixa7, .caixa8, .caixa9 {
    margin-top: 525px;
}

.caixa10, .caixa11, .caixa12 {
    margin-top: 770px;
}

.caixa13, .caixa14, .caixa15  {
    margin-top: 1015px;
}

.caixa16, .caixa17, .caixa18 {
    margin-top: 1260px;
}

.caixa19, .caixa20, .caixa21 {
    margin-top: 1505px;
}

.caixa22, .caixa23, .caixa24 {
    margin-top: 1750px;
}

.caixa25, .caixa26, .caixa27 {
    margin-top: 1995px;
}

.caixa28, .caixa29, .caixa30 {
    margin-top: 2240px;
}

.caixa31, .caixa32. .caixa33 {
    margin-top: 2485px;
}

.caixa34, .caixa35, .caixa36 {
    margin-top: 2730px;
}