#listaa {
    margin: 45px 0 0 160px;
}

#listaa2 {
    margin: -35px 0 0 197px;
}

#linha1 {
    margin: 11px 0 0 11px;
}

#linha2 {
    margin: 18px 0 0 11px;
}

#linha3 {
    margin: 25px 0 0 11px;
}

#linha4 {
    margin: 10px 0 0 9px;
}

#linha5 {
    margin: 17px 0 0 9px;
}

#linha6 {
    margin: 24px 0 0 9px;
}

#linha7 {
    margin: 11px 0 0 9px;
}

#linha8 {
    margin: 11px 0 0 18px;
}

#linha9 {
    margin: 11px 0 0 26px;
}

.caixa1, .caixa2, .caixa3, .caixa7, .caixa8, .caixa9, .caixa13, .caixa14, .caixa15 {
    margin-top: 5px;
}

.caixa4, .caixa5, .caixa6, .caixa10, .caixa11, .caixa12, .caixa16, .caixa17, .caixa18 {
    margin-top: 250px;
}

#buteco p  {
    position: relative;
    margin: 10px 35px 0 245px;
}

h1 {
    color: red;
    width: 455px;
    margin: 139px 0 0 189px;
}

h2 {
    position: relative;
    font-family: 'Droid Serif', serif;
    font-size: 42px;
    color: #808080;
}

h3 {
    position: absolute;
    font-family: 'Helvetica', serif;
    font-weight: 500;
    font-size: 20px;
    width: 100%; 
    margin: 0px 0 0 200px;
    padding: 9px 15px 10px 55px;
    background-color: #A61407;
    color: white;
}

.sub {
    position: relative;
    margin: 0px 0 0 150px;   
}

.sub2 {
    position: relative;
    margin: 580px 0 0 150px;   
}

.sub3 {
    position: relative;
    margin: 580px 0 0 150px;   
}

#roda {
    margin-top: 540px;
}

