@charset "UTF-8";

h1 {
    color: #00a000;
    width: 200px;
    margin: 139px 0 0 460px;
}


h3 {
    background-color: #00a000;
}

.caixa1, .caixa2, .caixa3  {
    margin-top: 75px;
}

.caixa4, .caixa5, .caixa6  {
    margin-top: 320px;
}

.caixa7 {
    margin-top: 565px;
}

#roda {
    margin-top: 850px;
}

