@charset "UTF-8";

h1 {
    color: #00a000;
    width: 250px;
    margin: 139px 0 0 445px;
}

h3 {
    background-color: #00a000;
}

.caixa1, .caixa2, .caixa3  {
    margin-top: 75px;
}

.caixa4, .caixa5, .caixa6  {
    margin-top: 320px;
}

.caixa7, .caixa8, .caixa9 {
    margin-top: 565px;
}

.caixa11 {
    margin-top: 810px;
}

#roda {
    margin-top: 1095px;
}