@charset "UTF-8"; 

.slider {
    display: block;
    margin: auto;
    position: relative;
    left: -40px;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    vertical-align: top;
    border-radius: 10px 10px 0 0;
}

.slider input {
    display: none;
}

.slider label {
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 6px;
    position: absolute;
    width: 6px;
    z-index: 10;
    margin: 0 0 0 65px;
    background-color: white;
    border-radius: 100px;
    box-shadow: 1px 0 5px 0; 

}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li:nth-child(4) label {
    left: 100px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.caixa1 {
    width: 250px;
    background-color: white;
    position: absolute;
    height: 500px;
    top: 100px;
    border-radius: 10px;
}

.caixa1 {
    margin: 0 50% 0 50%;
    left: -535px;
}

#de {
    position: absolute;
    width: 250px;
    height: 7px;
    margin-top: 312px;
    background-color: #DE640B;
    z-index: 2;
}

h3 {
    position: absolute;
    font-family: 'Helvetica', serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    padding: 9px 15px 10px 15px; 
    border-radius: 20px 0 20px 0;
    letter-spacing: .042em;
    background-color: #DE640B;
    margin: 295px 0 0 15px;
    z-index: 3;
}


#preço {
    letter-spacing: .092em;
    line-height: 1.50;
    font-weight: 700;
    color: red;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    top: 300px;
    z-index: 4;
    font-size: 20px;
}