@media (max-width: 979px) {
  .caixa1, .caixa3, .caixa5, .caixa7, .caixa9, .caixa11, .caixa13, .caixa15, .caixa17, .caixa19, .caixa21, .caixa13, .caixa25, .caixa11, .caixa01, .caixa03, .caixa05, .caixa07, .caixa09, .caixa011, .caixa013, .caixa015, .caixa017, .box1, .box13 {
    margin: 0 50% 0 50%;
    left: -14.4em;
}
}

@media (max-width: 979px) {
  .caixa1, .caixa3, .caixa5, .caixa7, .caixa9, .caixa11, .caixa13, .caixa15, .caixa17, .caixa19, .caixa21, .caixa13, .caixa25, .caixa11, .caixa01, .caixa03, .caixa05, .caixa07, .caixa09, .caixa011, .caixa013, .caixa015, .caixa017, .box1, .box13 {
    margin: 0 50% 0 50%;
    left: -14.4em;
}
}

@media (max-width: 979px) {
  .caixa2, .caixa4, .caixa6, .caixa8, .caixa10, .caixa12, .caixa14, .caixa16, .caixa18, .caixa20, .caixa22, .caixa24, .caixa02, .caixa04, .caixa06, .caixa08, .caixa010, .caixa012, .caixa014, .caixa016, .caixa018, .box2, .box4 {
    margin: 0 50% 0 50%;
    left: -0.9em; 
}
}