@charset "UTF-8";

h1 {
    background-color: #00a000;
    width: 250px;
    margin: 139px 0 0 445px;
}

h2 {
    margin: 2395px 0 0 150px;
}

h3 {
    margin: 295px 0 0 15px;
    background-color: #00a000;
}

h6 {
    letter-spacing: .092em;
    margin: -20px  0 0 110px;
    font-size: 14px;
    color: red;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 75px;
}

.caixa5 {
    margin-top: 850px;
}

.caixa6, .caixa7 {
    margin-top: 770px;
}

.caixa8 {
    margin-top: 797px;
}

.caixa9 {
    margin-top: 1598px;
}

.caixa10, .caixa11, .caixa12 {
    margin-top: 1519px;
}

.caixa13 {
    margin-top: 2321px;
}

.caixa14 {
    margin-top:  2241px;
}

.caixa15 {
    margin-top:  2216px;
}

.caixa16 {
    margin-top: 2269px;
}

#de {
    background: #00a000;
}

#roda {
    margin-top: 3100px;
}