@charset "UTF-8";

#logo {
    font-size: 60px;
    top: 140px;
    left: 2.8em;
}

#logo2 {
    font-size: 30px;
    top: 168px;
    left: 15.2em;
}

#img img {
    left: 25px;
}

@media (max-width: 1100px) {
  h1 {
    left: -170px;
}
}

@media (max-width: 980px) {
  h1 {
    left: -90px;

}
}

h2 {
    margin: 2395px 0 0 150px;
}

h3 {
    margin: 295px 0 0 15px;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    top: 300px;
}

@media (max-width: 1100px) {
  .caixa1, .caixa2, .caixa3 {
    top: 400px;
}
}

@media (max-width: 980px) {
  .caixa1, .caixa2 {
    top: 450px;
}
}

@media (max-width: 980px) {
  .caixa3 {
    top: 1080px;
}
}

@media (max-width: 979px) {
  .caixa1, .caixa2, .caixa3 {
    top: 400px;
}
}

@media (max-width: 801px) {
  .caixa1, .caixa2 {
    top: 550px;
}
}

@media (max-width: 801px) {
  .caixa3 {
    top: 1330px;
}
}

@media (max-width: 1100px) {
  .caixa4 {
    top: 1023px;
}
}

@media (max-width: 980px) {
  .caixa4 {
    top: 1073px;
}
}

@media (max-width: 979px) {
  .caixa4 {
    top: 1023px;
}
}

@media (max-width: 801px) {
  .caixa4 {
    top: 1349px;
}
}

.caixa5, .caixa6 {
    top: 893px;
}

@media (max-width: 1100px) {
  .caixa5 {
    top: 1052px;
}
}

@media (max-width: 980px) {
  .caixa5 {
    top: 1680px;
}
}

@media (max-width: 979px) {
  .caixa5 {
    top: 1017px;
}
}

@media (max-width: 801px) {
  .caixa5 {
    top: 2082px;
}
}

@media (max-width: 1100px) {
  .caixa6 {
    top: 995px;
}
}

@media (max-width: 980px) {
  .caixa6 {
    top: 1675px;
}
}

@media (max-width: 979px) {
  .caixa6 {
    top: 995px;
}
}

@media (max-width: 801px) {
  .caixa6 {
    top: 2103px;
}
}

.caixa7, .caixa8 {
    top: 867px;
}

@media (max-width: 1100px) {
  .caixa7 {
    top: 1620px;
}
}

@media (max-width: 980px) {
  .caixa7 {
    top: 2282px;
}
}

@media (max-width: 979px) {
  .caixa7 {
    top: 1620px;
}
}

@media (max-width: 801px) {
  .caixa7 {
    top: 2835px;
}
}

@media (max-width: 1100px) {
  .caixa8 {
    top: 1646px;
}
}

@media (max-width: 980px) {
  .caixa8 {
    top: 2252px;
}
}

@media (max-width: 979px) {
  .caixa8 {
    top: 1614px;
}
}

@media (max-width: 801px) {
  .caixa8 {
    top: 2830px;
}
}

#roda {
    margin-top: 1450px;
}

@media (max-width: 1100px) {
  #roda {
    margin-top: 2125px;
}
}

@media (max-width: 980px) {
  #roda {
    margin-top: 5190px;
}
}

@media (max-width: 979px) {
  #roda {
    margin-top: 2218px;
}
}

@media (max-width: 801px) {
  #roda {
    margin-top: 3625px;
}
}