@charset "UTF-8";

h1 {
    color: #f8f00d;
    width: 250px;
    margin: 139px 0 0 350px;
}

h3 {
    background-color: #f8f00d;
    color: black;
} 

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 180px;
}

.caixa5 {
    margin-top: 778px;
}

.caixa6 {
    margin-top: 698px;
}

.caixa7 {
    margin-top: 725px;
}

.caixa8 {
    margin-top: 752px;
}

.caixa9 {
    margin-top: 1351px;
}

.caixa10, .caixa11 {
    margin-top: 1244px;
}

.caixa12 {
    margin-top: 1271px;
}

.caixa13 {
    margin-top:  1950px;
}

.caixa14, .caixa15 {
    margin-top:  1764px;
}

.caixa16 {
    margin-top: 1790px;
}

.caixa17 {
    margin-top: 2444px;
}

.caixa18 {
    margin-top: 2336px;
}

.caixa19 {
    margin-top: 2283px;
}

.caixa20 {
    margin-top: 2363px;
}

.caixa21 {
    margin-top: 3070px;
}

.caixa22 {
    margin-top: 2883px;
}

.caixa23 {
    margin-top:  2830px;
}

.caixa24 {
    margin-top:  2910px;
}

.caixa25 {
    margin-top:  3591px;
}

.caixa26 {
    margin-top: 3403px;
}

.caixa27 {
    margin-top: 3376px;
}

.caixa28 {
    margin-top: 3457px;
}

.caixa29 {
    margin-top:  4138px;
}

.caixa30 {
    margin-top:  4001px;
}

.caixa31 {
    margin-top:  4081px;
}

.caixa33 {
    margin-top:  4030px;
}

.caixa34 {
    margin-top:  4683px;
}

.caixa35 {
    margin-top:  4547px;
}

.caixa36 {
    margin-top:  4705px;
}

#de {
    background: #f8f00d;
}

#roda {
    margin-top: 5295px;
}