@charset "UTF-8";

h1 {
    color: #f8f00d;
    width: 250px;
    margin: 139px 0 0 250px;
}

h3 {
    background-color: #f8f00d;
    color: black;
} 

#buteco ul li {
    width: 325px;
}

.caixa1, .caixa2, .caixa3 {
    margin-top: 85px;
}

.caixa4, .caixa6 {
    margin-top: 521px;
}

.caixa5 {
    margin-top: 548px;
}

.caixa7 {
    margin-top: 985px;
}

.caixa8 {
    margin-top: 985px;
}

.caixa9 {
    margin-top: 957px;
}

.caixa10 {
    margin-top: 1397px;
}

.caixa11 {
    margin-top: 1397px;
}

.caixa12 {
    margin-top: 1420px;
}

.caixa13 {
    margin-top:  1835px;
}

.caixa14 {
    margin-top:  1835px;
}

.caixa15 {
    margin-top:  1856px;
}

.caixa16 {
    margin-top: 2248px;
}

.caixa17 {
    margin-top: 2285px;
}

.caixa18 {
    margin-top: 2285px;
}

.caixa19 {
    margin-top: 2257px;
}

.caixa20 {
    margin-top: 12397px;
}

.caixa21 {
    margin-top: 12397px;
}

.caixa22 {
    margin-top: 12420px;
}

.caixa23 {
    margin-top:  12835px;
}

.caixa24 {
    margin-top:  12835px;
}

.caixa25 {
    margin-top:  12856px;
}

.caixa26 {
    margin-top: 12397px;
}

.caixa27 {
    margin-top: 12397px;
}

.caixa28 {
    margin-top: 12420px;
}

.caixa29 {
    margin-top:  12835px;
}

.caixa30 {
    margin-top:  12835px;
}

.caixa31 {
    margin-top:  12856px;
}

.caixa32 {
    margin-top: 12420px;
}

.caixa33 {
    margin-top:  12835px;
}

.caixa34 {
    margin-top:  12835px;
}

.caixa35 {
    margin-top:  12856px;
}

.caixa36 {
    margin-top:  12856px;
}

#de {
    background: #f8f00d;
}

#roda {
    margin-top: 5427px;
}