@charset "UTF-8";

h1 {
    color: #ADFF2F;
    width: 200px;
    margin: 139px 0 0 439px;
}

h3 {
    background-color: #ADFF2F;
    color: black;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 180px;
}

.caixa5, .caixa6 {
    margin-top: 752px;
}

.caixa7 {
    margin-top: 725px;
}

.caixa8 {
    margin-top: 753px;
}

.caixa9, .caixa10 {
    margin-top: 1298px;
}

.caixa11 {
    margin-top: 1218px;
}

.caixa12 {
    margin-top: 1247px;
}

.caixa13 {
    margin-top:  1896px;
}

.caixa14 {
    margin-top:  1844px;
}

.caixa15 {
    margin-top:  1765px;
}

#de {
    background: #ADFF2F;
}

#roda {
    margin-top: 2560px;
}

