@charset "UTF-8";

h1 {
    color: #ADFF2F;
    width: 200px;
    margin: 139px 0 0 439px;
}

h3 {
    background-color: #ADFF2F;
    color: black;
}

#buteco ul li {
    width: 325px;
}

.caixa1, .caixa2, .caixa3 {
    margin-top: 10px;
}

.caixa4, .caixa6 {
    margin-top: 444px;
}

.caixa5 {
    margin-top: 472px;
}

.caixa7, .caixa8 {
    margin-top: 905px;
}

.caixa9 {
    margin-top: 877px;
}

.caixa10, .caixa11 {
    margin-top: 1313px;
}

.caixa12 {
    margin-top: 1338px;
}

.caixa13, .caixa14 {
    margin-top:  1748px;
}

.caixa15 {
    margin-top:  1774px;
}

#de {
    background: #ADFF2F;
}

#roda {
    margin-top: 2248px;
}

