@charset "UTF-8";

#logo {
    font-size: 60px;
    top: 140px;
    left: 2.8em;
}

#logo2 {
    font-size: 30px;
    top: 168px;
    left: 15.2em;
}

#img img {
    left: 25px;
}

@media (max-width: 1100px) {
  h1 {
    left: -85px;
}
}

@media (max-width: 980px) {
  h1 {
    margin: 0 50% 0 50%;
    top: 10px;
    left: -1.2em;
}
}

h3 {
    margin: 295px 0 0 15px;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    top: 300px;
}

@media (max-width: 1100px) {
  .caixa1, .caixa2, .caixa3 {
    top: 400px;
}
}

@media (max-width: 980px) {
  .caixa1, .caixa2 {
    top: 450px;
}
}

@media (max-width: 980px) {
  .caixa3 {
    top: 955px;
}
}

@media (max-width: 979px) {
  .caixa1, .caixa2, .caixa3 {
    top: 400px;
}
}

@media (max-width: 801px) {
  .caixa1, .caixa2 {
    top: 550px;
}
}

@media (max-width: 801px) {
  .caixa3 {
    top: 1047px;
}
}

@media (max-width: 1100px) {
  .caixa4 {
    top: 897px;
}
}

@media (max-width: 980px) {
  .caixa4 {
    top: 982px;
}
}

@media (max-width: 979px) {
  .caixa4 {
    top: 897px;
}
}

@media (max-width: 801px) {
  .caixa4 {
    top: 1100px;
}
}

.caixa5 {
    top: 767px;
}

@media (max-width: 1100px) {
  .caixa5 {
    top: 923px;
}
}

@media (max-width: 980px) {
  .caixa5 {
    top: 1458px;
}
}

@media (max-width: 979px) {
  .caixa5 {
    top: 923px;
}
}

@media (max-width: 801px) {
  .caixa5 {
    top: 1547px;
}
}

#roda {
   margin-top: 1230px;
}

@media (max-width: 1100px) {
  #roda {
    margin-top: 1280px;
}
}

@media (max-width: 980px) {
  #roda {
   margin-top: 3490px;
}
}

@media (max-width: 979px) {
  #roda {
    margin-top: 1397px;
}
}

@media (max-width: 801px) {
  #roda {
    margin-top: 2035px;
}
}