@charset "UTF-8";

h1 {
    background-color: #ffa500;
    width: 135px;
    margin: 139px 0 0 480px;
}

h3 {
    background-color: #ffa500;
    margin: 295px 0 0 15px;
}

#de {
    background-color: #ffa500;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 75px;
}

.caixa5, .caixa6 {
    margin-top: 567px;
}
.caixa7, .caixa8 {
    margin-top: 620px;
}

.caixa9, .caixa10 {
    margin-top: 1063px;
}

.caixa11 {
    margin-top: 1115px;
}

#roda {
   margin-top: 1650px;
}