@charset "UTF-8";

h1 {
    background-color: #ffa500;
    margin: 139px 0 0 650px;
}

h3 {
    background-color: #ffa500;
    margin: 295px 0 0 15px;
}

#de {
    background-color: #ffa500;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 300px;
}

.caixa5 {
    margin-top: 767px;
}

#um, #dois {
    position: relative;
    margin: 8px 25px 0 25px;
    font-size: 15.5px;
    letter-spacing: .055em;
    color: red;
    font-weight: 700;
    line-height: 1.50;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#um {
    margin: -3px 25px 0 55px;
} 

#dois {
    margin: -22px 25px 0 140px;
}

#roda {
   margin-top: 1273px;
}