@charset "UTF-8";

h1 {
    color: #FFA500;
    width: 135px;
    margin: 139px 0 0 480px;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    margin-top: 25px;
}

.caixa5, .caixa6 {
    margin-top: 517px;
}
.caixa7, .caixa8 {
    margin-top: 570px;
}

.caixa9, .caixa10 {
    margin-top: 1013px;
}

.caixa11 {
    margin-top: 1065px;
}

#roda {
   margin-top: 1600px;
}