@charset "UTF-8";

body {
    margin: 0;
    background-color: #494949;
    padding: 0;
    width: 100%;
}

#site {
    width: 100%;
    margin: -39px auto;
}

@media (max-width: 980px) {
  #site {
    zoom: 180%;
}
}

@media (max-width: 979px) {
  #site {
    zoom: 100%;
}
}

#menu {
   position: relative;
   width: 100%;
   height: 50px;
   background-color: #DE640B;
}

@media (max-width: 980px) {
  #menu {
   zoom: 180%;
    height: 65px;
}  
}

@media (max-width: 979px) {
  #menu {
   zoom: 100%;
}  
}
        
nav ul {
   position: relative;
   width: 1045px;
   margin: 0px auto;
}

@media (max-width: 1100px) {
  nav ul {
   width: 900px;
   left: -80px;
}  
}

@media (max-width: 980px) {
  nav ul {
   width: 400px;
}  
}

@media (max-width: 979px) {
  nav ul {
   left: 0px;
}  
}

nav li {
    list-style: none;
    display: block;
    float: left;
    margin: 5px 10px 0 0;
    padding: 10px;
}

nav li img{
    margin: -5px 0 0 0;
}

nav li a, nav li #Menu {
    position: relative;
    left: 350px;
    color: #FFFFFF; 
    display: block;
    letter-spacing: .192em;
    font-size: 18px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-decoration: none;
}


@media (max-width: 980px) {
  nav li a, nav li #Menu {
    left: 105px;
    top: 5px;
    z-index: 2;
}
}

@media (max-width: 979px) {
  nav li a, nav li #Menu {
    left: 15px;
    top: 5px;
    z-index: 2;
}
}

#logo, #logo1, #logo2, #logo3 {
    position: absolute;
    color: white;
    font-family:  sans-serif;
    letter-spacing: .092em;
    font-weight: 500;
    margin: 0 50% 0 50%;
}

#logo3 {
    font-size: 30px;
    top: 72px;
    left: 5.7em;
}

h1 {
    position: absolute;
    top: 135px;
    margin: 0 50% 0 50%;
    font-size: 55px; 
    color: white;
    font-family: sans-serif;
    letter-spacing: .192em;
    font-weight: 500;
    left: -9em;
}

@media (max-width: 1100px) {
  h1 {
    margin: 0 50% 0 50%;
    font-size: 45px;
    top: 287px;
    left: -350px;
}
}

@media (max-width: 980px) {
  h1 {
    margin: 0 50% 0 50%;
    font-size: 35px;
    top: 370px;
    left: -200px;
    color: white;
}
}

@media (max-width: 979px) {
  h1 {
    margin: 0 50% 0 50%;
    font-size: 45px;
    top: 287px;
    left: -350px;
    width: 300px;
}
}

@media (max-width: 801px) {
  h1 {
    margin: 0 50% 0 50%;
    font-size: 35px;
    top: 370px;
    left: -200px;
    color: white;
}
}

h3 {
    position: absolute;
    font-family: 'Helvetica', serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    padding: 9px 15px 10px 15px; 
    border-radius: 20px 0 20px 0;
    letter-spacing: .042em;
    background-color: #DE640B;
}

h4, h5 {
    position: relative;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    font-size: 17.5px;
    letter-spacing: .082em;
}

h4 {
    margin: 15px  0 0 30px;
}

h5 {
    margin: 10px  0 0 30px;
}

@media (max-width: 980px) {
  h4 {  
    letter-spacing: .142em;
    padding: 0 0 2px 0;
}
}

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11, .caixa12, .caixa13, .caixa14, .caixa15, .caixa16, .caixa17, .caixa18, .caixa19, .caixa20, .caixa21, .caixa22, .caixa23, .caixa24, .caixa25, .caixa26, .caixa27, .caixa01, .caixa02, .caixa03, .caixa04, .caixa05, .caixa06, .caixa07, .caixa08, .caixa09, .caixa010, .caixa011, .caixa012, .caixa013, .caixa014, .caixa015, .caixa016 {
    width: 250px;
    background-color: white;
    position: absolute;
}



/*Tamanho da largura em ate 1100px*/

@media (max-width: 1100px) {
  .caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11, .caixa12, .caixa13, .caixa14, .caixa15, .caixa16, .caixa17, .caixa18, .caixa19, .caixa20, .caixa21, .caixa22, .caixa23, .caixa24, .caixa25, .caixa26, .caixa27, .caixa01, .caixa02, .caixa03, .caixa04, .caixa05, .caixa06, .caixa07, .caixa08, .caixa09, .caixa010, .caixa011, .caixa012, .caixa013, .caixa014, .caixa015, .caixa016 {
    width: 233px;
}
}



/*Tamanho da largura em ate 980px*/

@media (max-width: 980px) {
  .caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11, .caixa12, .caixa13, .caixa14, .caixa15, .caixa16, .caixa17, .caixa18, .caixa19, .caixa20, .caixa21, .caixa22, .caixa23, .caixa24, .caixa25, .caixa26, .caixa27, .caixa01, .caixa02, .caixa03, .caixa04, .caixa05, .caixa06, .caixa07, .caixa08, .caixa09, .caixa010, .caixa011, .caixa012, .caixa013, .caixa014, .caixa015, .caixa016 {
    width: 233px;
}
}



/*Tamanho da largura em ate 801px*/

@media (max-width: 801px) {
  .caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11, .caixa12, .caixa13, .caixa14, .caixa15, .caixa16, .caixa17, .caixa18, .caixa19, .caixa20, .caixa21, .caixa22, .caixa23, .caixa24, .caixa25, .caixa26, .caixa27, .caixa01, .caixa02, .caixa03, .caixa04, .caixa05, .caixa06, .caixa07, .caixa08, .caixa09, .caixa010, .caixa011, .caixa012, .caixa013, .caixa014, .caixa015, .caixa016, .box1, .box2, .box13, .box4 {
    width: 210px;
}
}



/*Posição horizontal das caixas em telas grandes*/

.caixa1, .caixa5, .caixa9, .caixa13,  .box1 {
    margin: 0 50% 0 50%;
    left: -535px;
}

.caixa2, .caixa6, .caixa10, .caixa14, .box2 {
    margin: 0 50% 0 50%;
    left: -265px;
}

.caixa3, .caixa7, .caixa11, .caixa15, .box13 {
    margin: 0 50% 0 50%;
    left: 5px;
}

.caixa4, .caixa8, .caixa12, .caixa16, .box4 {
    margin: 0 50% 0 50%;
    left: 275px;
}



/*Posição horizontal das caixas em telas de ate 1100px*/

@media (max-width: 1100px) {
   .box1, .box13 {
    margin: 0 50% 0 50%;
    left: -15.8em;
}
}

@media (max-width: 1100px) {
  .box2, .box4 {
    margin: 0 50% 0 50%;
    left: 1.2em;
}
}

@media (max-width: 1100px) {
  .caixa1, .caixa4, .caixa7, .caixa10, .caixa13, .caixa16 {
    margin: 0 50% 0 50%;
    left: -23.3em;
}
}

@media (max-width: 1100px) {
  .caixa2, .caixa5, .caixa8, .caixa11, .caixa14 {
    margin: 0 50% 0 50%;
    left: -7.3em;
}
}

@media (max-width: 1100px) {
  .caixa3, .caixa6, .caixa9, .caixa12,.caixa15 {
    margin: 0 50% 0 50%;
    left: 8.8em; 
}
}


/*Posição horizontal das caixas em telas de celulares*/

@media (max-width: 980px) {
  .caixa1, .caixa3, .caixa5, .caixa7, .caixa9, .caixa11, .caixa13, .caixa15, .box1, .box13 {
    margin: 0 50% 0 50%;
    left: -15.4em;
}
}

@media (max-width: 980px) {
  .caixa2, .caixa4, .caixa6, .caixa8, .caixa10, .caixa12, .caixa14, .caixa16,  .box2, .box4 {
    margin: 0 50% 0 50%;
    left: 0.9em; 
}
}



/*Posição horizontal das caixas em telas de ate 979px*/

@media (max-width: 979px) {
   .box1, .box13 {
    margin: 0 50% 0 50%;
    left: -15.6em;
}
}

@media (max-width: 979px) {
  .box2, .box4 {
    margin: 0 50% 0 50%;
    left: 0.9em;
}
}

@media (max-width: 979px) {
  .caixa1, .caixa4, .caixa7, .caixa10, .caixa13, .caixa16 {
    margin: 0 50% 0 50%;
    left: -23.3em;
}
}

@media (max-width: 979px) {
  .caixa2, .caixa5, .caixa8, .caixa11, .caixa14 {
    margin: 0 50% 0 50%;
    left: -7.3em;
}
}

@media (max-width: 979px) {
  .caixa3, .caixa6, .caixa9, .caixa12, .caixa15 {
    margin: 0 50% 0 50%;
    left: 8.8em; 
}
}



/*Posição horizontal das caixas em telas de ate 801px*/

@media (max-width: 801px) {
  .caixa1, .caixa3, .caixa5, .caixa7, .caixa9, .caixa11, .caixa13, .caixa15, .box1, .box13 {
    margin: 0 50% 0 50%;
    left: -13.7em;
}
}

@media (max-width: 801px) {
  .caixa2, .caixa4, .caixa6, .caixa8, .caixa10, .caixa12, .caixa14, .caixa16, .box2, .box4 {
    margin: 0 50% 0 50%;
    left: 0.7em; 
}
}

#img img {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 120px;
    width: 140px; 
    height: 90px;
}

@media (max-width: 1100px) {
   #img img, #img1 img {
    margin: 0 50% 0 50%;
    left: -267px;
    top: 125px;
}
}

@media (max-width: 980px) {
   #img img, #img1 img {
    margin: 0 50% 0 50%;
    left: -125px;
    top: 100px;
    width: 240px; 
    height: 150px;
}
}

@media (max-width: 979px) {
   #img img, #img1 img {
    margin: 0 50% 0 50%;
    left: -267px;
    top: 125px;
    width: 140px; 
    height: 90px;
}
}

@media (max-width: 801px) {
   #img img, #img1 img {
    margin: 0 50% 0 50%;
    left: -125px;
    top: 100px;
    width: 240px; 
    height: 150px;
}
}

@media (max-width: 1100px) {
  #logo {
    top: 141px;
    left: -2em;
    font-size: 60px;
}
}

@media (max-width: 1100px) {
  #logo2 {
    top: 171px;
    left: 5.7em;
    font-size: 30px;
}
}

@media (max-width: 980px) {
  #logo {
    font-size: 50px;
    top: 253px;
    left: -3.2em;
}
}

@media (max-width: 980px) {
  #logo2 {
    font-size: 25px;
    top: 275px;
    left: 3.2em;
}
}

@media (max-width: 979px) {
  #logo {
    top: 141px;
    left: -2em;
    font-size: 60px;
}
}

@media (max-width: 979px) {
  #logo2 {
    top: 171px;
    left: 5.7em;
    font-size: 30px;
}
}

@media (max-width: 801px) {
  #logo {
    font-size: 50px;
    top: 253px;
    left: -3.2em;
}
}

@media (max-width: 801px) {
  #logo2 {
    font-size: 25px;
    top: 275px;
    left: 3.2em;
}
}

#buteco ul li {
    position: absolute;
    padding: 0 0 25px 0;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    text-decoration: none;
}

#caixa img {
    width: 100%;
    height: 317px;
}

#buteco p {
    position: relative;
    margin: 15px 25px 0 25px;
    font-size: 16.5px;
    letter-spacing: .055em;
    line-height: 1.50;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#preço {
    margin-top: 40px;
}


#preço p, #preço2 p, #preço3 p {
    position: relative;
    letter-spacing: .092em;
    line-height: 1.50;
    font-weight: 700;
    color: red;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#preço p, #preço3 p {
    font-size: 20px;
}

#preço2 p {
    padding: 0 0 0 5px;
    text-decoration: line-through;
    font-size: 14px;
}

@media (max-width: 980px) {
  #preço2 p {
    font-size: 10px;
    left:-5px;
}
}

#preço2 {
    margin: 43px 0 0 -5px;
}

#preço3 {
    margin: -33px 0 0 84px;
}

@media (max-width: 980px) {
  #preço3 p {
    left: -21px;
    width: 200px;
}
}

#de {
    position: absolute;
    width: 400px;
    height: 7px;
    margin-top: 312px;
    background-color: #DE640B;
}

footer {
    position: relative;
    width: 100%;
    margin: auto;
    height: 455px;
    background-color: #DE640B;
}

@media (max-width: 980px) {
  footer {
   zoom: 150%;
}  
}

@media (max-width: 979px) {
  footer {
   zoom: 100%;
}  
}

#img01 {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 30px;
    left: -15.9em;
}

#logo1 {
    font-size: 60px;
    top: 45px;
    left: -2em;
}

@media (max-width: 980px) {
  #img01 {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 2.2em;
    left: -16em;
}
}

#texto,  #texto2, #texto3, #texto4 {
    position: absolute;
    padding: 0 70px 0 0;
    margin: 0 50% 0 50%; 
    width: 458px;
    font-family: arial;
    line-height: 1.50;
    letter-spacing: .092em;
    color: white;
} 

#texto {
    font-size: 25px;
    top: 120px;
    left: -240px;
    width: 558px;
} 

@media (max-width: 980px) {
  #texto {
    margin: 0 50% 0 50%;
    font-size: 24px;
    width: 490px;
    top: 4.9em;
    left: -10em;
    padding: 2px;
} 
}

#texto2 {
    font-size: 17.5px;
    top: 220px;
    left: -360px;
}

@media (max-width: 980px) {
  #texto2 {
    margin: 0 50% 0 50%;
    font-size: 17.5px;
    top: 10.9em;
    left: -9.5em;
    padding: 2px;
} 
}

#texto3 {
    font-size: 17.5px;
    top: 220px;
    left: 10px;
}

@media (max-width: 980px) {
  #texto3 {
    margin: 0 50% 0 50%;
    font-size: 17.5px;
    top: 12.9em;
    left: -10.5em;
    padding: 2px;
} 
}

#texto4 {
    font-size: 18px;
    top: 380px;
    left: -180px;
    text-decoration: underline;
}

@media (max-width: 980px) {
  #texto4 {
    margin: 0 50% 0 50%;
    font-size: 17.5px;
    top: 20.5em;
    left: -9.5em;
    padding: 2px;
} 
}

#texto4 a {
    text-decoration: none;
    color: white;
}

#img2 p, #img3 p, #img4 p {
    position: absolute;
    color: white;
    font-family:  sans-serif;
    letter-spacing: .192em;
    font-weight: 500;
    font-size: 19px;
    margin: 0 50% 0 50%;
    text-decoration: underline;
    
}

#img2 p {
    margin: 0 50% 0 50%;
    top: 320px;
    left: -235px;
}

@media (max-width: 980px) {
  #img2 p {
    margin: 0 50% 0 50%;
    top: 16.9em;
    left: -11.0em;
}
}

#img3 p {
    margin: 0 50% 0 50%;
    top: 320px;
    left: -30px;
}

@media (max-width: 980px) {
  #img3 p {
    margin: 0 50% 0 50%;
    top: 16.9em;
    left: -2em;
}   
}

#img4 p {
    margin: 0 50% 0 50%;
    top: 320px;
    left: 95px;
}

@media (max-width: 980px) {
  #img4 p {
    margin: 0 50% 0 50%;
    top: 16.9em;
    left: 3.5em;
}   
}