@charset "UTF-8";

body {
    margin: 0;
    background-color: #dcdcdc;
    padding: 0;
}


#site {
    width: 1300px;
    margin: -39px auto;
}

#menu {
   position: relative;
   width: 100%;
   height: 42px;
   box-shadow: 0 0 3px  black;
   background-color: #A61407;
}
        
nav ul {
   position: relative;
   width: 1100px;
   margin: 0px auto;
}

nav li {
    list-style: none;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

nav li a, nav li #Menu {
    position: relative;
    left: 360px;
    color: #FFFFFF; 
    display: block;
    letter-spacing: .092em;
    font-size: 18px;
    font-family: helvetica;
    text-decoration: none;
    padding: 10px;
}

nav li a:hover {
    color: #dcdcdc;
}

nav li #Menu:hover  {
    color: #ADFF2F;
}

#submenu {
    position: relative;
    height: 60px;
    box-shadow: 0 0 2px 0 black;
    border-radius: 17px 0px 17px 0px;
    margin: 80px auto;
}

#submenu a, #submenu li {
    position: relative;
    left: -9px;
    top: 10px;
    color: white; 
    display: block;
    font-size: 18px;
    font-family: helvetica;
    padding: 0 4px 0 4px;
}

#submenu a:hover {
    text-decoration: underline; 
}

#listaa, #listaa2 {
    position: relative;
    width: 37px;
    height: 35px;
    box-shadow: 0 0 2px 0 black;
    padding: -10px;
}

#listaa {
    border-radius: 7px 0px 0px 0px;
    background-color: gray;
}

#listaa2 {
    margin: -35px 0 0 197px;
    border-radius: 0px 0px 7px 0px;
    background-color: white;
}

#linha1, #linha2, #linha3  {
    position: absolute;
    background-color: #FFA500;
    width: 16px;
    height: 2px;
}

#linha4, #linha5, #linha6 {
    position: absolute;
    background-color: white;
    width: 19px;
    height: 2px;
}

#linha7, #linha8, #linha9 {
    position: absolute;
    background-color: white;
    width: 2px;
    height: 15px;
}

#linha1 {
    margin: 11px 0 0 11px;
}

#linha2 {
    margin: 18px 0 0 11px;
}

#linha3 {
    margin: 25px 0 0 11px;
}

#linha4 {
    margin: 10px 0 0 9px;
}

#linha5 {
    margin: 17px 0 0 9px;
}

#linha6 {
    margin: 24px 0 0 9px;
}

#linha7 {
    margin: 11px 0 0 9px;
}

#linha8 {
    margin: 11px 0 0 18px;
}

#linha9 {
    margin: 11px 0 0 26px;
}

h1 {
    position: relative;
    margin-top: 115px;
    font-size: 60px;
    height: 60px;
    padding: 9px 5px 25px 25px; 
    border-radius: 27px 0 27px 0;
    background-color: white;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .092em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    box-shadow: 0 0 1px 0 black;
}

h3 {
    position: absolute;
    font-family: 'Helvetica', serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

#img img {
    position: absolute;
    margin: -135px 0 0 899px;
}

#buteco ul li {
    position: absolute;
    padding: 0 0 25px 0;
    background-color: white;
    box-shadow: 0 0 2px  black;
    border-radius: 16px 0 16px 0;
    list-style: none;
    overflow: hidden;
    max-width: 100%;
}

#buteco p {
    position: relative;
    margin: 8px 35px 0 35px;
    font-size: 17.5px;
    letter-spacing: .040em;
    line-height: 1.50;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #2c2c2c;
}

#preço p, #preço2 p, #preço4 p  {
    color: #A61407;
}

#preço1 p, #preço3 p, #preço5 p {
    color: #0d730d;
}


#preço2 p, #preço3 p, #preço4 p, #preço5 p {
    position: relative;
    letter-spacing: .070em;
    line-height: 1.50;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#preço p, #preço1 p, #preço4 p, #preço5 p {
    font-size: 18px;
}

#preço2 p, #preço3 p {
    padding: 0 0 0 5px;
    text-decoration: line-through;
    font-size: 13px;
}

#preço p, #preço2 p, #preço4 p  {
    color: #A61407;
}

#preço1 p, #preço3 p, #preço5 p {
    color: #0d730d;
}

#de {
    position: absolute;
    width: 400px;
    height: 7px;
    margin-top: 312px;
}

#roda {
    position: absolute;
    width: 100%;
    height: 450px;
    background-color: #A61407;
}

footer {
    position: relative;
    width: 1100px;
    margin: auto;
}

h4 {
    position: relative;
    font-family: Verdana;
    line-height: 1.50;
    font-weight: 700;
    letter-spacing: .092em;
    font-size: 35px;
    margin-left:  350px;
    margin-top: 33px;
}

h4, h5, #rua {
    color: white;
}

#texto {
    position: relative;
    margin: -14px 0 0 117px; 
    padding: 0 70px 0 0;
    position: relative;
    font-family: arial;
    line-height: 1.50;
    letter-spacing: .092em;
    font-size: 19px;
    color: white;
}  
        
#img1 {
    position: relative;
    margin: 129px 0 0 147px;
}       
      
#rua {
    position: relative;
    font-family: arial;
    line-height: 1.50;
    letter-spacing: .092em;
    font-size: 18px;
    margin: 10px 0 0 383px;
}

h5 {   
    position: relative;
    font-family: verdana;
    line-height: 1.50;
    font-weight: 700;
    letter-spacing: .092em;
    font-size: 23px;
    margin: -70px 0 0 238px;
}   

#img2 img, #img3 img, #img4 img {
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 black;
}

#img2 img {
    margin: 20px 0 0 440px;
}

#img3 img {
    margin: 20px 0 0 505px;
}

#img4 img {
    margin: 20px 0 0 605px;
}